<style>
        body{
            margin: 0a auto;
            max-width: 900px;
            width: 70%;
        }
        #box{
            float: right;
            margin: 15px;
            width: 150px;
            height: 150px;
            border-radius: 5px;
            background-color: lightblue;
            padding: 1em;
        }
        .special{
            background-color: lightblue;
            padding: 15px;
            color: white;
        }
        .clear{
            clear: right;
        }
    </style>
