nav a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px;
    float: left;
}
nav{
    background-color: black;
    overflow: hidden;
}
nav a:hover{
    color: tomato;
}
nav a:visited{
    color: royalblue;
}

table,
tr,
th,
td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 5px;
}
th{
    background-color: coral;
}
td{
    background-color: darkcyan;
}
